@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
} */

body {
  height: 100vh;
  width: 100vh;
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  height: 95%;
  width: 95%;
  /* width: calc(100% - 20px); */
  /* max-width: 800px; */
  /* height: 500px; */
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
/* .top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
} */
.top_menu .title {
  text-align: center;
  color: #0f4662;
  font-size: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  margin: 0;
  height: calc(95% - 90px - 65px);
  width: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
}

.messages .message {
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 8px;
  
  /* flex-wrap: wrap; */
}

.messages .message.left {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.messages .message.right {
  display: flex;;
  flex-direction: row-reverse;
  margin-left: auto;
}

.messages .message.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  color: #888;
  text-align: center;
  
}

/* .messages .message.left .avatar {
  background-color: #f5886e;
} */
.messages .message.left .name {
  font-size: 14px;
  font-weight: bold;
  color: #536872;
  text-align: center;
  display: block;
}

.messages .message.left .text_wrapper {
  background-color: #ffffff; 
  border: 2px solid #0f4662;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #0f4662;
}
.messages .message.left .text {
  color: #0f4662;
  word-break: normal;
  word-wrap: break-word;
  hyphens: auto;
}
.messages .message.right .avatar {
  background-color: #A9BECB;
}
.messages .message.right .name {
  font-size: 14px;
  font-weight: bold;
  color: #0f4662;
  text-align: center;
  display: block;
}
.messages .message.right .text_wrapper {
  background-color: #ffffff;
  border: 2px solid #0f4662;
  margin-right: 20px;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #0f4662;
}
.messages .message.right .text {
  color: #0f4662;
  word-break: normal;
  word-wrap: break-word;
  hyphens: auto;
}

.messages .message.middle .avatar {
  display: none;
}
.messages .message.middle .text_wrapper {
  background: none;
}

.messages .message.middle .text {
  color: #536872;
  word-break: normal;
  word-wrap: break-word;
  hyphens: auto;
}


.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  width: calc(100% - 80px);
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 25px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
  margin-top: 4px;
}

.bottom_wrapper {
  position: absolute;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.bottom_wrapper .message_input_wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  border: 1px solid #0f4662;
  width: 90%;
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  /* box-sizing: border-box; */
  width: 90%;
  /* position: absolute; */
  outline-width: 0;
  color: gray;
}

.bottom_wrapper .message_input_wrapper .record_button {
  margin-left: auto;
  border: none;
  height: 100%;
  /* box-sizing: border-box; */
  /* width: 10%; */
  /* position: absolute; */
  outline-width: 0;
  color: gray;
}

.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #7994A0;
  border: 2px solid #7994A0;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  margin-left: auto;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}


